/* stylelint-disable color-function-notation */
/* stylelint-disable alpha-value-notation */
$bg-color: #EEEEEE;
$color:#000;
$Primary-color: #123764;
/* stylelint-disable-next-line value-keyword-case */
$font: "Mulish", sans-serif;
