@import "./base/typography";
@import "./abstracts/functions";
@import "./abstracts/variables";

.container {
  color: $color;
  width:100%;
  .heading{
    text-align:center;
    color:$Primary-color;
    font-size:2rem;
    font-weight:bolder;
    font-family:phantom;
    padding-top:5px;
  }
  .image-container{
    @include center-div;
    padding: none;
    margin:none;
    .image{
      width:100%;
      height:80%;
    }
  }
  .request{
    text-align:center;
    font-weight:bolder;
    font-size:1.5rem;
    text-transform:capitalize;
  }
  .secondary-text{
    text-align:center;
    padding: 0 1rem;
    font-weight: bold;
  }
  .button-container{
    @include center-div;
    margin:1.5rem 0;
    flex-direction:column;
    .button{
      width:60%;
      height:3.5rem;
      background:$Primary-color;
      border-radius:.5rem;
      color:$bg-color;
      font-weight:bold;
      
    }
    .button-summit{
      width:50%;
      height:3rem;
      background:$Primary-color;
      border-radius:10px;
      color:$bg-color;
      font-weight:bold;
      margin-top: 1rem;
      
    }
    .email{
      width:70%;
      height:3rem;
      border:2px solid $Primary-color;
      background:unset;
      color:$color;
      border-radius:8px ;
      padding:.5rem;

      &::placeholder{
        color:$color;
      }
    }
  }
}
