/* stylelint-disable-next-line import-notation */
// @import url("https://fonts.googleapis.com/css2?family=Mulish:wght@300;400;500;600&display=swap");
@font-face {
  font-family: phantom;
  src: url('../assets/fonts/Pump.ttf');
}
@mixin heading {
  font-size: to-rem(90px);
}

@mixin text {
  font-size: to-rem(20px);
}
@mixin center-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
@mixin media-xl {
  @media screen and (min-width: 750px) and (max-width: 1600px){
      @content;
  }
}